div {
  height: 100vh;
  width: 100vw;
  text-align: center;
  overflow: hidden;
  font-size: 5em;
  font-family: "Comic Neue", cursive;
}

h2 {
  font-size: 60%;
}

span {
  height: 500px;
  width: 500px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
}
